.swiper {
    width: 83%;
    padding: 2rem 0;
    overflow: hidden;
    position: relative;
}

.swiper-slide {
    background: white;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #333333;
    box-sizing: border-box;
}

.swiper-pagination-bullet-active {
    background: #333;
}

.project-image{
    height: 300px;
    width: 300px;
}

